h1{
    color: rgb(0, 225, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
@media(max-width: 650px) {
    body {
        background-color: #b3f0ff;
        color: #FFF;
        font-family: "Comic Sans MS", "Comic Sans`", cursive;
    }
    
}

